@font-face {
  font-family: "OpenAI Sans";
  src: url("/nexus/shared/fonts/openai-sans-v2-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "OpenAI Sans";
  src: url("/nexus/shared/fonts/openai-sans-v2-medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "OpenAI Sans";
  src: url("/nexus/shared/fonts/openai-sans-v2-semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "OpenAI Sans";
  src: url("/nexus/shared/fonts/openai-sans-v2-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
